.App {
  text-align: center;
  font-family: "Courier New", monospace;
  width: 100%;
}

body {
  background: linear-gradient(110deg, #c1f0f0 0%, #2db9b9 50%, #145252 75%);
}

p {
    font-size: 16px;
}
h1 {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}

.books {
  list-style: none;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  padding: 0;
  font-size: 32px;
  margin-bottom: 2em;
}

.more {
  font-size: 32px;
  font-family: "Courier New", monospace;
  border: 2px solid #000;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 15px;
  color: black;
}
.more:hover {
  background-color: #f44336;
  color: white;
}
.more:active {
  background-color: #f98e86;
  color: white;
}

.AppInformation > p {

      font-size: 20px;
      color: #ed2553;
      font-weight: 600;
      text-decoration: none;
}